.contact form{

max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;

}

.contact input,
.contact textarea{

padding:12px;

}

.contact button{

padding:12px;
background:black;
color:white;
border:none;

}