.navbar{
background:white;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.nav-container{
max-width:1200px;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
padding:12px 20px;
}

.nav-logo img{
height:60px;
}

.nav-menu{
list-style:none;
display:flex;
gap:28px;
}

.nav-menu a{
font-weight:500;
color:#333;
transition:0.3s;
}

.nav-menu a:hover{
color:var(--accent);
}