.navbar{

position:fixed;
top:0;
width:100%;
background:white;
padding:15px 10%;
box-shadow:0 2px 8px rgba(0,0,0,0.05);

}

.nav-container{

display:flex;
justify-content:space-between;
align-items:center;

}

nav a{

margin-left:20px;
text-decoration:none;
color:#333;

}