:root{

--primary:#111111;
--secondary:#ffffff;
--accent:#c7a56a;

--text:#333;
--light:#f6f6f6;

--card-bg:#ffffff;
--shadow:0 10px 25px rgba(0,0,0,0.08);

--radius:12px;

--transition:all 0.3s ease;

}